@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './app/css/popup.css';
@import './app/css/form.css';
@import './app/css/table.css';
@import './app/css/button.css';


:root {
    --color-bg: #f7f7f7;
    --color-white: #ffffff;
    --color-gray: #f2f2f2;
    --color-primary: #74c7b8;
    --color-danger: #ef4f4f;

    --small-spacing: 0.5rem;
    --spacing: 1rem;
    --double-spacing: 2rem;

    --default-transition: all 300ms ease-in-out;
  }

body {
    background: var(--color-bg);
    font-family: 'Roboto Condensed', sans-serif;
}

#appContainer {
    margin: 4rem auto;
    max-width: 80vw;
    background: var(--color-white);
    box-shadow: 0 0 20px #ccc;
    border-radius: 0.5rem;
}
